* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: #f7f6ff;
}

.select-box {
    margin-top: -10px;
    margin-left: 00px;
    display: flex;
    width: 250px;
    flex-direction: column;
}

.select-box .options-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
}

.selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
}

.selected::after {
    content: "";
    background: url("arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active+.selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: transparent;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #414b57;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

body {
    font-family: "Avenir Next";
}

li {
    list-style: none;
    float: right;
    padding: 33px 20px;
    margin-top: -7px;
}

header {
    background-color: #b4b1a3f6;
    color: #fff;
    height: 70px;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
    margin-top: -5px;
}

.main {
    background-color: #ffffff;
    height: 1000px;
}

.footer {
    background-color: #b4b1a3f6;
    height: 100px;
}

input {
    border: 2px black solid;
    height: 30px;
    width: 500px;
    margin-left: 22px;
    margin-top: 20px;
}

.button:hover {
    color: #0e5555;
    box-shadow: #0d141f;
}

button:hover {
    background: #0e5555;
    color: #fff;
}

.popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-content {
    height: 300px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.popup input {
    border: 2px solid black;
    height: 30px;
    width: 400px;
    border-radius: 20px
}

.close {
    color: gray;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 25px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}